
.easyRead{
  table{
    /**
      All the tables of the blog are colored with this css
    **/
      @apply border-collapse;
      /*border-spacing: 2px;*/
      tr {
        th {
          @apply bg-primary-500 text-white font-bold border-2 border-gray-100;
          padding: 8px 15px;
        }
        td {
          background-color: #eeeee4;
          padding: 6px 15px;
          vertical-align: top;
          @apply border-2 border-gray-100;
        }
        &:nth-child(2n) td {
          background: #f6f5f5;
        }
      }
  }
}